.facebookLogin {
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
}

.screenHeight {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.backgroundLayout {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #4c69ba, white);
  height: 100vh;
}
